In [2]:
import pandas as pd

In [42]:
exp = pd.read_csv('experiments/results - 10x.txt')

In [57]:
exp['rol_%'] = 0.
exp['nn_%'] = 0.
exp

,instance_name,rol_cost,rol_time,nn_cost,nn_time,best,rol_%,nn_%
0,bayg29.tsp,1817.300000,0.573286,2031.600000,0.001280,1610,0.0,0.0
1,bays29.tsp,2173.900000,0.576274,2365.800000,0.001601,2020,0.0,0.0
2,brazil58.tsp,27347.400000,9.174397,30256.000000,0.005401,25395,0.0,0.0
3,att48.tsp,37353.846679,4.217316,41475.391402,0.003333,10628,0.0,0.0
4,bier127.tsp,130722.903435,251.157303,147686.825150,0.046020,118282,0.0,0.0
5,eil101.tsp,729.268962,89.237202,797.021803,0.015218,426,0.0,0.0
6,kroA100.tsp,24382.369200,85.639802,27097.943260,0.015103,21282,0.0,0.0
7,kroD100.tsp,24809.196934,85.895239,27253.620058,0.037313,21294,0.0,0.0
8,pr76.tsp,129902.346504,28.230517,150810.802803,0.009103,108159,0.0,0.0
9,rat99.tsp,1360.406255,85.874559,1492.352817,0.014604,1211,0.0,0.0
10,tsp225.tsp,9269.715732,2472.850794,10074.238117,0.108262,3919,0.0,0.0

In [58]:
for i in exp.index:
    exp.at[i, 'rol_%'] = 100 * (exp.loc[i]['best'] / exp.loc[i]['rol_cost'])
    exp.at[i, 'nn_%'] = 100 * (exp.loc[i]['best'] / exp.loc[i]['nn_cost'])

In [59]:
exp

,instance_name,rol_cost,rol_time,nn_cost,nn_time,best,rol_%,nn_%
0,bayg29.tsp,1817.300000,0.573286,2031.600000,0.001280,1610,88.592968,79.247883
1,bays29.tsp,2173.900000,0.576274,2365.800000,0.001601,2020,92.920558,85.383380
2,brazil58.tsp,27347.400000,9.174397,30256.000000,0.005401,25395,92.860747,83.933765
3,att48.tsp,37353.846679,4.217316,41475.391402,0.003333,10628,28.452224,25.624834
4,bier127.tsp,130722.903435,251.157303,147686.825150,0.046020,118282,90.482996,80.089744
5,eil101.tsp,729.268962,89.237202,797.021803,0.015218,426,58.414662,53.448977
6,kroA100.tsp,24382.369200,85.639802,27097.943260,0.015103,21282,87.284381,78.537326
7,kroD100.tsp,24809.196934,85.895239,27253.620058,0.037313,21294,85.831073,78.132740
8,pr76.tsp,129902.346504,28.230517,150810.802803,0.009103,108159,83.261775,71.718337
9,rat99.tsp,1360.406255,85.874559,1492.352817,0.014604,1211,89.017527,81.147031
10,tsp225.tsp,9269.715732,2472.850794,10074.238117,0.108262,3919,42.277456,38.901205

In [60]:
rol_mean = 0
nn_mean = 0
for i in exp.index:
    rol_mean += exp.loc[i]['rol_%']
    nn_mean += exp.loc[i]['nn_%']
print(rol_mean / 10)
print(nn_mean / 10)

83.93963668131957
75.61652210968937